.header {
  display: flex;
  background-color: black;
  height: 90px;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}

.fb-img {
  width: 35px;
  height: auto;
}
.insta-img {
  width: 30px;
  height: auto;
}

.logos1 {
  display: flex;
  width: 100px;
  justify-content: space-around;
}

.logos2 {
  width: 250px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.phone-number {
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  color: white;
  font-size: 1.3rem;
}

.whatsapp-img {
  width: 30px;
  height: auto;
}

.shopping-cart-img {
  width: 30px;
  height: auto;
}

.main-page {
  display: flex;
  justify-content: space-between;
  height: auto;
  background-color: rgb(243, 238, 238);
}

.mr-brown-logo {
  width: 200px;
  height: 180px;
}

h4 {
  font-family: "Roboto", sans-serif;
  font-weight: bolder;
  color: rgb(110, 108, 108);
}

.mr-brown-logo {
  padding-left: 20px;
}

.menu-items {
  padding-left: 35px;
}

.locate-baout-us {
  padding-top: 50px;
  padding-left: 35px;
  font-family: "Roboto", sans-serif;
  color: rgb(110, 108, 108);
}

.get-app-logos {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-top: 40px;
}

.googleplay-logo {
  width: 50px;
  height: auto;
}

.apple-logo {
  width: 50px;
  height: auto;
}

.get-app-btn {
  display: flex;
  justify-content: space-evenly;
  margin-top: 15px;
}

.btn {
  -webkit-border-radius: 7;
  -moz-border-radius: 7;
  border-radius: 7px;
  font-family: "Roboto", sans-serif;
  color: #4d3b4d;
  font-size: 16px;
  background: #ffffff;
  padding: 2px 5px 2px 5px;
  text-decoration: none;
}

.btn:hover {
  background: #c7c7c7;
  text-decoration: none;
}

/* Search Bar CSS */
.sbx-custom {
  display: inline-block;
  position: relative;
  width: 400px;
  height: 51px;
  white-space: nowrap;
  box-sizing: border-box;
  font-size: 14px;
}

.sbx-custom__wrapper {
  width: 100%;
  height: 100%;
}

.sbx-custom__input {
  display: inline-block;
  transition: box-shadow 0.4s ease, background 0.4s ease;
  border: 0;
  border-radius: 16px;
  box-shadow: inset 0 0 0 0px #cccccc;
  background: #666666;
  padding: 0;
  padding-right: 78px;
  padding-left: 17px;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  white-space: normal;
  font-size: inherit;
  appearance: none;
}

.sbx-custom__input::-webkit-search-decoration,
.sbx-custom__input::-webkit-search-cancel-button,
.sbx-custom__input::-webkit-search-results-button,
.sbx-custom__input::-webkit-search-results-decoration {
  display: none;
}

.sbx-custom__input:hover {
  box-shadow: inset 0 0 0 0px #b3b3b3;
}

.sbx-custom__input:focus,
.sbx-custom__input:active {
  outline: 0;
  box-shadow: inset 0 0 0 0px #b8aeb5;
  background: #919191;
}

.sbx-custom__input::placeholder {
  color: #bbbbbb;
}

.sbx-custom__submit {
  position: absolute;
  top: 0;
  right: 0;
  left: inherit;
  margin: 0;
  border: 0;
  border-radius: 0 15px 15px 0;
  background-color: rgba(255, 247, 245, 0);
  padding: 0;
  width: 51px;
  height: 100%;
  vertical-align: middle;
  text-align: center;
  font-size: inherit;
  user-select: none;
}

.sbx-custom__submit::before {
  display: inline-block;
  margin-right: -4px;
  height: 100%;
  vertical-align: middle;
  content: "";
}

.sbx-custom__submit:hover,
.sbx-custom__submit:active {
  cursor: pointer;
}

.sbx-custom__submit:focus {
  outline: 0;
}

.sbx-custom__submit svg {
  width: 25px;
  height: 25px;
  vertical-align: middle;
  fill: #fffafb;
}

.sbx-custom__reset {
  display: none;
  position: absolute;
  top: 12px;
  right: 51px;
  margin: 0;
  border: 0;
  background: none;
  cursor: pointer;
  padding: 0;
  font-size: inherit;
  user-select: none;
  fill: rgba(0, 0, 0, 0.5);
}

.sbx-custom__reset:focus {
  outline: 0;
}

.sbx-custom__reset svg {
  display: block;
  margin: 4px;
  width: 19px;
  height: 19px;
}

.sbx-custom__input:valid ~ .sbx-custom__reset {
  display: block;
  animation-name: sbx-reset-in;
  animation-duration: 0.15s;
}

@keyframes sbx-reset-in {
  0% {
    transform: translate3d(-20%, 0, 0);
    opacity: 0;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
